%h1 Listing user_watches_surveys

%table
  %tr
    %th User
    %th Survey
    %th
    %th
    %th

  - @user_watches_surveys.each do |user_watches_survey|
    %tr
      %td= user_watches_survey.user_id
      %td= user_watches_survey.survey_id
      %td= link_to 'Show', user_watches_survey
      %td= link_to 'Edit', edit_user_watches_survey_path(user_watches_survey)
      %td= link_to 'Destroy', user_watches_survey, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User watches survey', new_user_watches_survey_path
