- content_for(:title) { "Minha conta - %s" }
= flash_messages
.user
  = image_tag @user.avatar_url, :alt => @user.name, :class => 'avatar'
  %h3= @user.name
  %p
    %em= @user.email
    \–
    = link_to 'Editar perfil', edit_user_url(@user)
    %br
    %br
    %br
    = link_to 'Incluir nova pesquisa', new_survey_url, :class => 'button'
%h2
  Minhas pesquisas
%h2
  Pesquisas favoritas