- content_for(:title) { "Respostas: #{@survey.title} - %s" }
= link_to 'Voltar', @survey, :class => :back
%h1 
  Respostas
.survey
  %h3
    = @survey.title
  %em
    = pluralize(@survey.total, 'resposta', 'respostas')
  = flash_messages
  %ol
    - @survey.questions.each do |question|
      %li
        %strong= question.title
        %ul
          - question.choices.each do |choice|
            %li
              - percentage = (choice.to_p * 100).round
              .percentage{:"data-percentage" => percentage}
                %span= "#{choice.total} / #{percentage}%"
              = choice.title
