%h1 Listing question_options

%table
  %tr
    %th Question
    %th Title
    %th
    %th
    %th

  - @question_options.each do |question_option|
    %tr
      %td= question_option.question_id
      %td= question_option.title
      %td= link_to 'Show', question_option
      %td= link_to 'Edit', edit_question_option_path(question_option)
      %td= link_to 'Destroy', question_option, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Question option', new_question_option_path
