= simple_form_for(@survey) do |f|
  = f.error_notification
  .inputs
    = f.input :title, :input_html => {:class => :very_large}
    = f.input :is_private
    = f.simple_fields_for :questions do |q|
      .question
        %strong Pergunta
        %a{:href => '#', :'data-nested' => 'remove'} Remover
        = q.input :title, :input_html => { :rows => 2}, :label => false
        = q.simple_fields_for :choices do |c|
          .choice
            = radio_button_tag '', '', false, :disabled => true
            = c.input :title,     :as => :string,   :label => false
            = link_to_remove_fields('Remover', c)
        %a{:href => '#', :'data-nested' => 'add'} Adicionar
    %a{:href => '#', :'data-nested' => 'add'} Adicionar
  .actions
    = f.button :submit
