= simple_form_for(@survey) do |f|
  = f.error_notification
  .inputs
    = f.input :title, :input_html => {:class => :very_large}
    = f.input :is_private
    = f.simple_fields_for :questions do |builder|
      = render 'question_fields', :f => builder
    = link_to_add_fields('Adicionar', f, :questions)
  .actions
    = f.button :submit
