%tr{:class => cycle('even', 'odd') + " survey_#{survey.id}"}
  %td{:width => "10"}
    - if current_user.watches?(survey)
      - star = image_tag "star.png",       :alt => 'Favorita'
    - else
      - star = image_tag "star_empty.png", :alt => 'Favorita'
    = link_to star, watch_survey_path(survey), :class => :watch, :remote => true
  %td
    = link_to survey.title, survey
    - if survey.private?
      = image_tag "lock.png", :alt => 'Pesquisa privada'
  %td{:width => "40%", :align => 'right'}
    %small
      Criada em
      = survey.created_at.strftime('%d/%m/%Y às %H:%M')
      por
      = link_to survey.user.name, survey.user