- content_for(:title) { "Pesquisa: #{@survey.title} - %s" }
= link_to 'Voltar', surveys_path, :class => :back
%h1 
  Pesquisa
= render 'actions', :survey => @survey
.survey
  %h3
    = @survey.title
  = flash_messages
  = simple_form_for :answers, :url => survey_answers_path(@survey) do |f|
    %ol
      - @survey.questions.each do |question|
        %li
          %strong= question.title
          %ul
            = f.collection_radio "question_#{question.id}", question.choices.map { |choice| [choice.id, choice.title] }, :first, :last
    .actions
      = f.button :submit, 'Enviar respostas'
