!!! 5
%html{:lang => 'pt'}
  %head
    %meta{:charset => 'utf-8'}
    - title = "%s" 
    - title = yield :title if content_for? :title
    %title= title % "Mini Survey" 
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    #master
      %h6 
        Mini Survey
        %sup
          app
      - if authenticated?
        %ul#navigation
          %li{:class => (controller_is?(:users) and params[:id].to_i == current_user.id ? 'selected' : nil)}
            = link_to "Minha conta", user_url(current_user)
          %li{:class => controller_is?(:surveys, :answers) ? 'selected' : nil}
            = link_to "Pesquisas", surveys_url
          %li{:class => 'exit'}
            = "Olá #{current_user.name},"
            = link_to "Sair", destroy_session_url
      #content
        = yield